<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Loonie Box</title>
    <link rel="stylesheet" href="<%= Routes.static_url(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <main role="main" class="container">
      <%= if info = get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert"><%= info %></p>
      <% end %>
      <%= if error = get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert"><%= error %></p>
      <% end %>
      <%= @inner_content %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_url(@conn, "/js/app.js") %>"></script>
  </body>
</html>
