/* This file is for your main application css. */

/* @import "bootstrap"; */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    height: 300px;
    margin: 10px auto;
}

.dz-preview {
  display: none;
}
